<a id='Top'></a>
# Analytics Programming: Module 12
## Statistical Tests
#### Alan Leidner Nov 17, 2019

In this notebook I will analyze car crash data from nyc's opendata set, using statistical tests.


1. [Importing](#Importing)
2. [Borough Visualization](#Viz1)
    - [Slice Dataframe](#slice_data)
    - [Scatterplot](#Graph1)
3. [Map Visualization](#Viz2)
    - [Slice Dataframe](#slice_data2)
    - [Heat Map](#Map)
4. [Closing Thoughts](#conclusion)
    

DataSource: https://data.cityofnewyork.us/resource/h9gi-nx95



Ingest some or all of your final project data into a pandas data frame.

Do any data cleaning or combining you need to do to make your data tidier, more accurate, or more useful.

Select some data on which you're going to perform a statistical test, and explain why you're choosing that particular data and why the test you're choosing makes sense. You might want to do a correlation, a two-sample t test, a chi-square test, an ANOVA, or another statistical test.

Interpret the result of your test - are you surprised? Is there a statistically significant finding?

### Importing the data<a id='Importing'></a>
First I will import the data using the Socrata API from the website.
I will import all available rows into a dataframe which will let us read the csv data.

In [1]:
import pandas as pd
import datetime as dt
pd.set_option('display.max_colwidth', -1) # Shows full cell text, instead of  truncated data in cells
pd.set_option('display.max.columns', None) # Let's me see all columns when calling a dataframe
crashes = pd.read_csv("https://data.cityofnewyork.us/resource/h9gi-nx95.csv?$limit=2000000")

/Users/leidner/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

We will take a quick look at our data before we get started

In [2]:
pd.concat([crashes.head(3), crashes.tail(3)], axis=0)

,accident_date,accident_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2012-07-23T00:00:00.000,16:30,QUEENS,11368,40.751545,-73.870843,POINT (-73.8708432 40.7515446),37 AVENUE,JUNCTION BOULEVARD,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,279832,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1,2012-08-14T00:00:00.000,18:00,QUEENS,11101,40.744962,-73.935415,POINT (-73.9354154 40.7449621),31 STREET,THOMSON AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,239102,PASSENGER VEHICLE,PICK-UP TRUCK,NaN,NaN,NaN
2,2012-08-02T00:00:00.000,14:40,QUEENS,11104,40.746355,-73.916160,POINT (-73.9161602 40.746355),48 STREET,SKILLMAN AVENUE,NaN,1.0,0.0,0,0,0,0,1,0,Unspecified,NaN,NaN,NaN,NaN,238966,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
1608162,2012-09-02T00:00:00.000,14:30,QUEENS,11358,40.757961,-73.785662,POINT (-73.7856623 40.757961),NORTHERN BOULEVARD,196 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Prescription Medication,Unspecified,NaN,NaN,NaN,259840,PASSENGER VEHICLE,BUS,NaN,NaN,NaN
1608163,2012-09-11T00:00:00.000,9:26,BROOKLYN,11211,40.717516,-73.943169,POINT (-73.943169 40.7175158),WITHERS STREET,HUMBOLDT STREET,NaN,0.0,0.0,0,0,0,0,0,0,Oversized Vehicle,Unspecified,NaN,NaN,NaN,198502,OTHER,PASSENGER VEHICLE,NaN,NaN,NaN
1608164,2012-09-05T00:00:00.000,17:10,QUEENS,11415,40.712001,-73.825456,POINT (-73.8254559 40.7120013),QUEENS BOULEVARD,83 AVENUE,NaN,1.0,0.0,1,0,0,0,0,0,Passenger Distraction,NaN,NaN,NaN,NaN,204233,PASSENGER VEHICLE,NaN,NaN,NaN,NaN